.git{
    font-weight: bold;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Red Hat Text","Open Sans",serif;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

main{
    background-image: linear-gradient(rgba(63, 57, 57, 0.76),rgba(63, 57, 57, 0.76)),
    url('../images/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
header{
    color:#DDCBCB;
    background-color:#26272F;
    padding:1px 1px 1px 1px;
    font-size: 36px;
    font-weight: normal;
    position: fixed;
    width: 100vw;
    min-height:10vh;
}
h1{
    padding: 0;
    margin: 3px;
}
h2{
    margin: 5px 5px;
    font-weight: normal;
}
.he2{
    margin: 160px 10px 10px 10px;
}
li{
    font-size: 24px;
    text-align: left;
    padding:2px;
    list-style-type: none;
}
.git{
    margin-top: 20px;
    font-size: 20px;
    padding:2px;
}
a{
    text-decoration: none;
    color: inherit;
}
.about{
    background-image: linear-gradient(rgba(63, 57, 57, 0.76),rgba(63, 57, 57, 0.76)),
    url('../images/apple-devices-computer-contemporary-dark-234527.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.hobbies{
    background-image: linear-gradient(rgba(63, 57, 57, 0.76),rgba(63, 57, 57, 0.76)),
    url('../images/apple-laptop-macbook-pro-notebook-1784.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.contact{
    background-image: linear-gradient(rgba(63, 57, 57, 0.76),rgba(63, 57, 57, 0.76)),
    url('../images/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;

}
.projects{
    background-image: linear-gradient(rgba(63, 57, 57, 0.76),rgba(63, 57, 57, 0.76)),
    url('../images/lines-of-code-2653362.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;

}
header.small{
    justify-content: space-evenly;
    color:#DDCBCB;
    background-color:#26272F;
    font-size: 24px;
    font-weight: normal;
    position: fixed;
    width: 100vw;

}
p{
    font-family: "Anonymous Pro";
    font-size:24px;
    line-height: 220%;
    padding:30px;
    margin-top: 50px;
    text-align: center;
}



figure{
    text-align: left;
    padding:10px;
}
code{
    text-shadow: rgb(58, 206, 58) 12;
}

.file{
    padding:0px 30px;
    margin-top: 50px;
}


